.place__title {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  margin-bottom: 48px;
  max-width: 460px;
  font-family: 'Black', Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 1.06;
  grid-area: place__title;
}
