.footer__copyryght {
  margin: 0;
  padding: 0;
  max-width: 186px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
}

@media screen and (max-width: 425px) {
  .footer__copyryght {
    line-height: 1;
  }
}
