.cover__background {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__background:hover {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../../images/cover-trains.jpg);
}

@media screen and (max-width: 1024px) {
  .cover__background {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    height: 480px;
  }
}
