.cover__background {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1184px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
