.place {
  display: grid; 
  grid-template-areas: 
  'place__title place__website' 
  'place__image place__desc';
  column-gap: 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
} 

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    display: grid;
    grid-template-areas:
    'place__title'
    'place__website'
    'place__image'
    'place__desc';
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    display: grid;
    grid-template-areas:
    'place__title'
    'place__website'
    'place__image'
    'place__desc';
    margin-bottom: 50px;
  }
}
