.place__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  max-width: 456px;
  color: #aaa;
  font-family: 'Regular', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.67;
}
