.place__website {
  margin-top: 30px;
  margin-bottom: 48px;
  max-width: 456px;
  grid-area: place__website;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    max-width: 288px;
    margin-top: 0;
    margin-bottom: 32px;
  }
}
