.place__website {
  grid-area: place__website;
  max-width: 456px;
  margin-bottom: 48px;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    max-width: 288px;
    margin-bottom: 32px;
  }
}
