.intro__title {
  margin: 0;
  padding: 0;
  max-width: 690px;
  margin-bottom: 40px;
  font-family: 'Black', Arial, Helvetica, sans-serif;
  font-size: 54px;
  line-height: 1.07;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}
